<div class="fflex" style="align-items: stretch;">

    <sly-card title="Parameters"
              subtitle="set visualization parameters"
              class="mr15 "
              :class="{'custom-full-height': !state.collapsed5}"
              :options="{collapsable: true}"
              :collapsed.sync="state.collapsed5"
              :style="[!state.collapsed5 ? {minWidth: '410px', maxWidth: '410px'} : {width: '100%', margin: 0}]"
              :disabled="{disabled: state.disabled5, message: 'complete stage 4'}"
              ref="step5">
        <div style="flex-direction: column; justify-content: space-between; align-items: flex-start; height: 100%; width: 100%; ">
            <div>
                <div v-if="data.model_without_tracking" style="margin: 0 10px 0 0">

                    <div class="field-with-checkbox-container">
                        <el-checkbox v-model="state.applyTrackingAlgorithm"
                                     :disabled="data.done2"
                                     style="margin: 0 10px 0 0"></el-checkbox>

                        <sly-field title="Apply Tracking Algorithm"
                                   description="Process predictions with tracking algorithm"
                                   style="margin: 10px 0">
                        </sly-field>
                    </div>

                    <el-collapse-transition>
                        <div v-show="state.applyTrackingAlgorithm" style="display: inline-block">

                            <el-select style="margin: 0 0 10px 0; width: 140px"
                                       :disabled="data.done2"
                                       v-model="state.selectedTrackingAlgorithm">
                                <el-option v-for="item in data.trackingAlgorithms"
                                           :key="item.value"
                                           :label="item.label"
                                           :value="item.value"></el-option>
                            </el-select>
                        </div>
                    </el-collapse-transition>
                </div>

                <sly-field title="Output project name"
                           description="folder name to save visualization result">
                    <el-input placeholder="visualization_0"
                              v-model="state.expId"
                              :disabled="data.done5"></el-input>
                </sly-field>

                <sly-field title="Additional settings"
                           description="Model specific inference settings in YAML format">
                    <sly-editor v-model="state.modelSettings"
                                :options="{height: '200px', mode: 'ace/mode/yaml'}"
                                ></sly-editor>
                </sly-field>

            </div>

            <div>
                <el-button type="primary" class="regular mt10"
                           @click="post('/apply-parameters/')"
                           v-if="!data.done5">
                    Apply settings
                </el-button>
                <div v-if="data.done5">
                    <i class="zmdi zmdi-check-circle mr5 mt5 mb5" style="color: #13ce66"></i>
                    <span style="color: #5a6772;">Parameters defined</span>
                </div>
                <el-button type="warning" class="regular mt10" :plain="true"
                           @click="state.restartFrom = 5;"
                           v-if="data.done5"
                           :disabled="state.annotatingStarted">
                    <i class="zmdi zmdi-rotate-left mr5"></i> reselect
                </el-button>
            </div>
        </div>


    </sly-card>

    <sly-card title="Inference Preview"
              class="card-vertical-lifter"
              subtitle="Generate 30 frames preview"
              style="width: 100%;"
              :collapsed.sync="state.collapsed5"
              :disabled="{disabled: state.disabled5, message: 'complete stage 4 to unlock'}"
              v-if="!state.collapsed5"
              ref="step5">
        <div slot="header" class="mb10">

            <el-button
                    type="primary"
                    @click="post('/generate-annotation-example/')"
                    :loading="data.previewLoading"
                    :disabled="data.done5 || state.disabled5">
                <i v-if="!data.previewLoading" class="zmdi zmdi-slideshow" style="margin-right: 5px"></i> Preview
            </el-button>
        </div>


        <sly-field v-if="!data.videoUrl && !data.PreviewLoading"
                   title="INFO: Here will be a preview"
                   description="click on the button to generate video"
                   style="padding-top: 4px; padding-bottom: 6px">

            <sly-icon slot="icon" :options="{ color: '#13ce66', bgColor: '#e1f7eb', rounded: false }">
                <i class="zmdi zmdi-info-outline"></i>
            </sly-icon>
        </sly-field>

        <sly-field v-if="data.PreviewLoading"
                   title="WARNING: Video generation in progress"
                   description="do not turn off the power of the agent, it is processing data"
                   style="padding-top: 4px; padding-bottom: 6px">

            <sly-icon slot="icon" :options="{ color: '#fba607', bgColor: '#ffe9da', rounded: false }">
                <i class="zmdi zmdi-alert-triangle"></i>
            </sly-icon>
        </sly-field>

        <video v-if="data.videoUrl" controls style="max-height: 650px; max-width: 100%;">

            <!--                <source src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4">-->
            <source :src="data.videoUrl" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div v-if=""></div>


        <div v-if="data.progressPreviewTotal" class="mt10">
            <div>{{ data.progressPreviewMessage }}: <b><span
                    style="color: #20a0ff">{{ data.progressPreviewCurrent }}</span> /
                {{ data.progressPreviewTotal }}</b></div>
            <el-progress
                    :percentage="data.progressPreviewPercent"></el-progress>

        </div>
    </sly-card>

</div>