<sly-card title="Apply NN to video project"
          subtitle="track video processing"
          ref="step6"
          :options="{collapsable: true}"
          :collapsed.sync="state.collapsed6"
          :disabled="{disabled: state.disabled6, message: 'complete stage 5'}">
    <sly-field v-if="data.annotatingStarted"
               title="WARNING: Tracking in progress"
               description="do not turn off the power of the agent, it is processing data"
               style="margin: 10px 0">

        <sly-icon slot="icon" :options="{ color: '#fba607', bgColor: '#ffe9da', rounded: false }">
            <i class="zmdi zmdi-alert-triangle"></i>
        </sly-icon>
    </sly-field>

    <el-collapse-transition>
        <div v-show='!data.dstProjectName && data.annotatingStarted' style="margin: 0 5px 15px 2px">
            {{{ apply_nn_to_video_project_progress.to_html() }}}
        </div>
    </el-collapse-transition>
    <el-button v-if="!data.dstProjectName"
               type="primary" class="regular"
               @click="post('/start-annotation/')"
               :loading="data.annotatingStarted === true"
    >
        <i class="zmdi zmdi-play mr5" v-if="!data.annotatingStarted"></i> apply NN to videos project
    </el-button>

    <div v-if="data.dstProjectName" >
        <sly-field style="margin: 0 0"
                   title="Output Project"
                   description="">
            <sly-field title="" description="Project">
                <a slot="title" target="_blank"
                   :href="`${data.instanceAddress}/projects/${data.dstProjectId}/datasets`">{{ data.dstProjectName }}</a>
                <sly-icon slot="icon" :options="{ imageUrl: `${data.dstProjectPreviewUrl}` }"/>
            </sly-field>
        </sly-field>
        <div>
            <i class="zmdi zmdi-check-circle mr5" style="color: #13ce66"></i>
            <span style="color: #5a6772;">Done</span>
        </div>


    </div>


</sly-card>