<sly-card
  title="Select videos to annotate"
  subtitle="select the videos you want to annotate"
  :options="{collapsable: true}"
  :collapsed.sync="state.collapsed4"
  :disabled="{disabled: state.disabled4, message: 'complete stage 3'}"
  ref="step4"
>
  <!--    <div v-if="state.statsLoaded && !state.selectedClass" class="fflex mt5 mb10"-->
  <!--         style="flex-direction: column; align-items: flex-start">-->

  <!--        <sly-field title="WARNING: Videos that can be used not found"-->
  <!--                   description="please reselect input project">-->
  <!--            <sly-icon slot="icon" :options="{ color: '#fba607', bgColor: '#ffe9da', rounded: false }">-->
  <!--                <i class="zmdi zmdi-alert-triangle"></i>-->
  <!--            </sly-icon>-->
  <!--        </sly-field>-->

  <!--    </div>-->

  <div
    v-if="state.statsLoaded"
    class="fflex mt5"
    style="flex-direction: column; justify-content: flex-start"
  >
    <sly-el-table-selection-container
      :data="data.videosTable"
      :selected="state.selectedVideos"
      identity-field="name"
    >
      <el-table
        ref="sly-el-table-with-selection"
        v-if="data.videosTable"
        :data="data.videosTable"
        class="ultra-table"
        @selection-change="
                (val) => {
                    state.selectedVideos = val.map(x => x.name);
                }
                "
      >
        <el-table-column
          type="selection"
          width="55"
          :selectable="r => !r.isDisabled && !data.done4"
        ></el-table-column>

        <el-table-column label="NAME" header-align="center">
          <template scope="scope">
            <div>{{scope.row.name}}</div>
          </template>
        </el-table-column>

        <!--            <el-table-column label="dataset" align="center" width="180">-->
        <!--                <template scope="scope">-->
        <!--                    {{scope.row.dataset}}-->
        <!--                </template>-->
        <!--            </el-table-column>-->

        <el-table-column label="frames count" align="center" width="200">
          <template scope="scope"> {{scope.row.framesCount}} </template>
        </el-table-column>
        <el-table-column
          class-name="our-custom-leaf"
          label="process frames indexes"
          align="center"
          width="80"
        >
          <!--                <div class="fflex" style="justify-content: center">-->

          <el-table-column label="start" align="center" width="200">
            <template scope="scope">
              <div class="ml10 mr10">
                <el-input-number
                  v-model="state.framesMin[scope.row.name]"
                  :min="0"
                  :max="state.framesMax[scope.row.name] - 5"
                  size="small"
                  :disabled="data.done4 || !state.selectedVideos.includes(scope.row.name) || scope.row.isDisabled"
                  size="small"
                ></el-input-number>
              </div>
            </template>
          </el-table-column>
          <el-table-column label="end" align="center" width="200">
            <template scope="scope">
              <div class="ml10 mr10">
                <el-input-number
                  v-model="state.framesMax[scope.row.name]"
                  :min="state.framesMin[scope.row.name] + 5"
                  :max="scope.row.framesCount - 1"
                  size="small"
                  :disabled="data.done4 || !state.selectedVideos.includes(scope.row.name) || scope.row.isDisabled"
                  size="small"
                ></el-input-number>
              </div>
            </template>
          </el-table-column>
        </el-table-column>
      </el-table>
    </sly-el-table-selection-container>
    <el-button
      type="primary"
      style="margin-top: 20px; align-self: flex-start"
      class="regular"
      v-if="!data.done4"
      @click="command('choose_videos')"
    >
      SELECT
    </el-button>
  </div>

  <el-button
    type="primary"
    style="margin-top: 5px"
    class="regular"
    :loading="state.loadingStats"
    v-if="!state.statsLoaded"
    @click="state.loadingStats=true; command('load_videos_info')"
  >
    LOAD STATS
  </el-button>

  <div v-if="data.done4 && !state.splitInProgress" class="mt10">
    <div>
      <i
        class="zmdi zmdi-check-circle mr5"
        style="color: #13ce66; margin-top: 5px; margin-bottom: 5px"
      ></i>
      <span style="color: #5a6772"> Video(-s) successfully selected </span>
    </div>
    <el-button
      type="warning"
      class="regular mt10"
      :plain="true"
      @click="state.restartFrom = 4;"
      v-if="data.done4 && !state.started"
      :disabled="state.annotatingStarted"
    >
      <i class="zmdi zmdi-rotate-left mr5"></i> reselect
    </el-button>
  </div>
</sly-card>
