supervisely[tracking]==6.73.158
#git+https://github.com/supervisely/supervisely.git@tracking-algorithms#egg=supervisely[tracking]

# base
Cython
tensorboard>=2.2
torch>=1.7.0
torchvision>=0.8.1

# plotting
seaborn>=0.11.0
ftfy==6.0.3
regex
git+https://github.com/supervisely-ecosystem/depends-CLIP.git
