.example-style {
    color: white;
}

#apply-nn-to-video-project .ultra-table .our-custom-leaf {
    border: 0;
    height: 50px;
    text-transform: uppercase;
    background: #f6fafd;

    border-bottom: 1px solid #ebebeb;

}

#apply-nn-to-video-project .ultra-table .our-custom-leaf div {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 0.9rem;
}

#apply-nn-to-video-project .card-vertical-lifter .content-wrapper {
    height: 100%;
}

#apply-nn-to-video-project .custom-full-height .content-wrapper {
    height: 100%;
}

#apply-nn-to-video-project .custom-full-height .input-label .field-description {
    flex: none;
}